<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div class="container">
<div>
<h1>Hello Spring</h1>
<p>회원 기능</p>
<hr>
<form action="/members/login" method="POST">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <input type="text" name="userid" placeholder="userid"><br>
  <input type="password" name="password" placeholder="password"><br>
  <button type="submit">로그인</button>
</form>

<a sec:authorize="isAnonymous()" th:href="@{/members/new}">회원가입</a>
<a href="/members">회원 목록</a>
</p>
</div>
</div> <!-- /container -->
</body>
</html>